@import url('https://fonts.googleapis.com/css?family=VT323');

body{
  margin: 0;
  background-image: url("./backgrounds/cloudBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "VT323";
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
