body{
  margin: 0;
  background-image: url("./backgrounds/cloudBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
